<?xml version="1.0"?>

<launch>
  <param name="use_sim_time" value="true" />
  
  <arg name="spawn_x_pos" default="0.5" />
  <arg name="spawn_y_pos" default="0" />
  <arg name="spawn_z_pos" default="0.2" />
  <arg name="spawn_yaw"   default="0" />
  
  <!-- send the robot XML to param server -->
  <!-- We use different models for Gazebo and onboard software for flexibility-->
  <param name="robot_description_gazebo" command="$(find xacro)/xacro.py '$(find hector_tracker_description)/urdf/tracker_default.urdf.xacro'" />
  <param name="robot_description"        command="$(find xacro)/xacro.py '$(find hector_tracker_description)/urdf/tracker_default.urdf.xacro'" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description_gazebo
        -urdf
        -x $(arg spawn_x_pos)
        -y $(arg spawn_y_pos)
        -z $(arg spawn_z_pos)
        -Y $(arg spawn_yaw)  
        -J arm_joint_1 0.06
        -J arm_joint_2 0.06
        -J arm_joint_3 0.25
        -J arm_joint_4 0.353
        -model robot_description_gazebo"
        respawn="false" output="screen" />
  
  <!-- start robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="use_tf_static" value="true" />    
    <!--<remap from="joint_states" to="/tracker_controllers/joint_states" />-->
  </node>
  
  <include file="$(find hector_tracker_gazebo_ros_control)/launch/default_controllers.launch"/>
  
  
  
  <!--Required due to https://github.com/ros-simulation/gazebo_ros_pkgs/issues/313-->
  <node pkg="vigir_lidar_intensity_modifier" type="laser_intensity_modifier_node" name="stab_laser_intensity_modifier_node">
    <remap from="scan" to="/stab_laser/scan_gazebo" />
    <remap from="scan_out" to="/stab_laser/scan" />      
  </node>
  
  <node pkg="vigir_lidar_intensity_modifier" type="laser_intensity_modifier_node" name="spin_laser_intensity_modifier_node">
    <remap from="scan" to="/spin_laser/scan_gazebo" />
    <remap from="scan_out" to="/spin_laser/scan" />      
  </node>
  
  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_rgb_frame_pub" args="0 0 0 0 0 0  /arm_rgbd_cam_link /arm_rgbd_cam_rgb_frame" /> 
  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_depth_frame_pub" args="0 0 0 0 0 0  /arm_rgbd_cam_link /arm_rgbd_cam_depth_frame" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_depth__optical_frame_pub" args="0 0 0 -1.57 0 -1.57 /arm_rgbd_cam_depth_frame /arm_rgbd_cam_depth_optical_frame" />
  
  <node pkg="topic_tools" type="relay" name="relay_stab_laser_pitch_joint" args="/stab_laser_pitch_joint/command /stab_laser_control/stab_laser_pitch_joint_position_controller/command" />
  <node pkg="topic_tools" type="relay" name="relay_stab_laser_roll_joint" args="/stab_laser_roll_joint/command /stab_laser_control/stab_laser_roll_joint_position_controller/command" />
  
  <node pkg="topic_tools" type="relay" name="relay_gripper_cam_to_rect" args="/arm_gripper_cam/image_raw /arm_gripper_cam/image_rect" />



  
  <node pkg="rostopic" type="rostopic" name="lidar_spin_command_pub" args="pub /spin_lidar_control/spin_lidar_spin_joint_velocity_controller/command std_msgs/Float64 0.69 -r 1" />

  <!--Nodelet managers. Started as part of bringup on real robot. -->  
  <node pkg="nodelet" type="nodelet" name="arm_thermal_cam_nodelet_manager" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="arm_rgbd_cam_nodelet_manager" args="manager" output="screen"/>
  
</launch>
  
